*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.layout{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 0.2fr 1fr 0.1fr;
    padding: em(12) em(50);
}