.navigation{
    grid-column: 1/13;
    grid-row: 1/2;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    justify-items: center;
    border-bottom: em(1) solid $grayish_blue_darker;
}

.logo{
    grid-column: 0/2;
}

.nav_buton{
    grid-column: 3/10;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;

    
    .menu_list{
        list-style: none;
        padding:em(25) em(12) em(25) em(32);

        &:hover{
            cursor: pointer;
        }
    }
}

.cart{
    grid-column: 11/12;
}
.avatar{
    grid-column: 12/13;
    height: 100%;


}
.avatar_picture{
    display: inline-block;
    height: 55%;
    width: auto;
    transform: translateY(em(15));
}

.svg.active{
    &::after{
        content: "2";
        color: $white;
        font-size: 9px;
        background-color:$color_orange ;
        padding: em(5,11) em(6,11);
        border-radius:45%;
        position: relative;
        top: em(-18,9);
        left: em(-12,9);
        
    }
}