.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content:space-around ;
    padding-top: em(60);
}

.pictures{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1.5fr 0.35fr;
    justify-content: center;
    align-content: center;
}

.main_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.small_wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.small_pictures{
    display: inline-flex;
    height: 70%;
    border-radius: em(12);
    
}
.main_picture{
    display: inline-block;
    height: 80%;
    width: 100%;
    border-radius: em(24);
}
