$color_orange:hsl(26, 100%, 55%);
$color_orangeshadow:hsl(25, 100%, 94%);
$dark_blue: hsl(220, 13%, 13%);
$gray_blue: hsl(219, 9%, 45%);
$grayish_blue_darker:hsl(220, 14%, 75%);
$grayish_blue: hsl(223, 64%, 98%);
$white:hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);