* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.layout {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 0.2fr 1fr 0.2fr;
      grid-template-rows: 0.2fr 1fr 0.2fr;
  padding: 0.75em 3.125em;
}

.navigation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border-bottom: 0.0625em solid #b6bcc8;
}

.logo {
  grid-column: 0/2;
}

.nav_buton {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
  justify-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav_buton .menu_list {
  list-style: none;
  padding: 1.5625em 0.75em 1.5625em 2em;
}

.nav_buton .menu_list:hover {
  cursor: pointer;
}

.cart {
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11/12;
}

.avatar {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12/13;
  height: 100%;
}

.avatar_picture {
  display: inline-block;
  height: 55%;
  width: auto;
  -webkit-transform: translateY(0.9375em);
          transform: translateY(0.9375em);
}

.svg.active::after {
  content: "2";
  color: white;
  font-size: 9px;
  background-color: #ff7d1a;
  padding: 0.45455em 0.54545em;
  border-radius: 45%;
  position: relative;
  top: -2em;
  left: -1.33333em;
}

.product {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.25em 3.75em 0 3.75em;
}

.pictures {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-columns: repeat 6, 1fr;
      grid-template-columns: repeat 6, 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main_wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.small_wrapper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.small_pictures {
  display: inline-block;
  height: 50%;
  width: 19%;
  border-radius: 0.75em;
}

.small_pictures:hover {
  -webkit-filter: opacity(25%);
          filter: opacity(25%);
}

.small_pictures.active {
  border: solid 0.125em #ff7d1a;
}

.main_picture {
  display: inline-block;
  height: 83%;
  width: 89%;
  border-radius: 1.5em;
}

.description {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  color: #68707d;
  font-size: 18px;
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  font-size: 12px;
  color: #ff7d1a;
}

.product_name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.price {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 900;
  font-size: 25px;
}

.sale {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-self: flex-start;
  background-color: #ffede0;
  padding: 0.1875em 0.75em;
  border-radius: 0.3125em;
  justify-self: flex-start;
}

.before_price {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-decoration: line-through;
  color: #b6bcc8;
}

.numbers_item {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e2e8f9;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125em;
  font-weight: 900;
  border-radius: 0.875em;
  font-size: 22px;
  color: black;
}

.mark_minus {
  -webkit-transform: translateY(0.175em);
          transform: translateY(0.175em);
}

.mark_minus:hover, .mark_minus:active {
  -webkit-filter: contrast(250%) sepia(65%);
          filter: contrast(250%) sepia(65%);
  cursor: pointer;
}

.mark_plus:hover, .mark_plus:active {
  -webkit-filter: contrast(250%) sepia(65%);
          filter: contrast(250%) sepia(65%);
  cursor: pointer;
}

.add_cart {
  margin-left: 0.9375em;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff7d1a;
  color: white;
  width: 90%;
  font-size: 22px;
  border-radius: 0.875em;
  padding: 1.0625em;
  text-decoration: none;
  font-weight: 900;
  -webkit-box-shadow: 0em 0.625em 1.25em #ffede0, 0em 0.625em 1.25em #ffede0, 0em 0.625em 1.25em #ffede0;
          box-shadow: 0em 0.625em 1.25em #ffede0, 0em 0.625em 1.25em #ffede0, 0em 0.625em 1.25em #ffede0;
}

.add_cart:hover {
  background-color: #ff6f00;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.add_cart::before {
  content: url(../IMG/images/icon-cart.svg);
  padding-right: 1.375em;
  font-weight: 900;
}

.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */